extends layout 

block content

    if errors
        each error in errors 
            p(style="color:red") #{error.msg}

    h1 Edit Restaurant
    form(method="POST" action="" id="postform")
            label Name: 
            input(name="name" type="text" value=restaurant.name)
            br
            br
            label Country: 
            input(name="country" type="text" value=restaurant.country)
            br
            br
            label Province/State:  
            input(name="province" type="text" value=restaurant.province)
            br
            br
            label City:  
            input(name="city" type="text" value=restaurant.city)
            br
            br
            label Description(optional): 
            br
            textarea(rows="5" cols="40" name="description" form="postform")
                #{restaurant.description}
            br
            br
            label Rating:
            br
            input(name="rating" id="one" type="radio" value= 1)
            label 1 star 
            input(name="rating" id="two" type="radio" value= 2)
            label 2 stars 
            input(name="rating" id="three" type="radio" value= 3)
            label 3 stars 
            input(name="rating" id="four" type="radio" value= 4)
            label 4 stars 
            input(name="rating" id="five" type="radio" value= 5)
            label 5 stars      
            br
            br
            input(type="submit" value="Submit")
